body {
    background-color: #c6c6c6;
    color: black;
    font-family: 'Open Sans';
    padding: 1em;
    margin: 0; 
  }


h1 {
    width: 140px;
    height: 50px;
    padding-left: 12px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;

    color: #000000;
    border: 5px solid #BA3C3C;
  }

h2 {
    width: 140px;
    height: 50px;
    padding-left: 2px;
    padding-top: 4px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    color: #000000;
    border: 5px solid #BA3C3C;
  }


h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    margin: 10px;
    
    color: #808080;   
  }
 
  
h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
  }


h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 10px;

    color: #000000;
  }


h6 {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
    }


p {
    /*width: 136px;
    height: 19px;*/

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
    }


a:link {
    position: absolute;
    width: 137px;
    height: 27px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #278EED;
    }


a:hover {
    position: absolute;
    width: 123px;
    height: 27px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #BA3C3C;
}


/* a:visited {
    
    width: 134px;
    height: 27px; 

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #BA3C3C;
    } */

ol {
    
    /* width: 65px;
    height: 81px; */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
    }


ul {
    position: absolute;
    width: 65px;
    height: 81px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
    }


nav {
    background-color: #808080;
    border: 3px solid black;
    padding: 0;
    top: 0;
    position: sticky;
    display:flex;
    flex-direction: row;
    height: 45px;
    }
     

nav a {
    color: #F85050;
    text-decoration: none;
    padding: .5em 1em;
    }



hr {
    position: absolute;
    width: 463.02px;
    height: 0px;

    border: 1px dashed #000000;
}

body {
    display: grid;
    grid-template-rows: auto;

}

.flex-container {
    display: flex;
    background-color: #808080;;
}

.flex-container>div {
    background-color: #808080;
    color: #F85050;;
    width: 100px;
    margin: 0;
    line-height: 75px;
    font-size: 30px;
  }

img{
    max-width: 100%;
    display: block;
    float: left;
    margin-right: 1em;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
  }





.Index-Container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
}

.Index-Grid-1{
    grid-column-start: 1;
    grid-column-end: 2;
    
    width: 285px;
    height: 200px;
    padding-left: 6px;
    padding-top: 5px;
    margin-right: 30px;

    color: #000000;
    border: 5px solid #BA3C3C;
}

.Index-Grid-2{
    grid-column-start: 3;
    grid-column-end: 4;
}





.About-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
}

.About-Grid-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.About-Grid-2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.About-Grid-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.About-Grid-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.About-Grid-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.About-Grid-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.About-Grid-7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}





.Project-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
}

.Project-Grid-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Project-Grid-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Project-Grid-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Project-Grid-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Project-Grid-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Project-Grid-6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}





.Contact-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 5px;
}

.Contact-Grid-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Contact-Grid-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
    width: 200px;
    height: 100px;
    padding-left: 5px;
    padding-bottom: 10px;

    color: #000000;
    border: 2px solid #BA3C3C;
}

.Contact-Grid-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    width: 220px;
    height: 100px;
    padding-left: 5px;
    padding-bottom: 10px;

    color: #000000;
    border: 2px solid #BA3C3C;
}

.Contact-Grid-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

body {
    background-color: #c6c6c6;
}


button {
    background-color: #BA3C3C;
    border: 2px solid black;
    width: 100px;
    transition-duration: 0.5s;
}



