body {
    background-color: #c6c6c6;
    color: black;
    font-family: 'Open Sans';
    padding: 1em;
    margin: 0; 
  }

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    width: 325px;
    height: 20px;

    color: #000000;
    border: 5px solid #282828;
    padding: 10px;
    padding-left: 10px;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    border-bottom: 5px solid #F85050;
    width: 625px;
    padding-left: 10px;
  }

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    color: #282828;

    width: 250px;
    height: 40px;
    
    border: 10px inset #BA3C3C;
    padding: 10px;
    padding-left: 10px;
  }
